{{ .Header }}
#SBATCH -p {{ .Partition.Partition }}
#SBATCH --qos {{ .Partition.Qos }}
#SBATCH --ntasks {{ .Partition.Ntasks }}
{{ if .Partition.Gres -}}
#SBATCH --gres {{ .Partition.Gres }}
{{ end -}}
#SBATCH --mem {{ .Partition.Mem }}
#SBATCH --cpus-per-task={{ .Partition.CpusPerTask }}
#SBATCH --threads-per-core={{ .Partition.ThreadsPerCore }}
{{ .Footer }}
