#!/usr/bin/env bash

# General setup
source {{ .LmodInit }}
export EESSI_PROJECT_INSTALL={{ .CvmfsRepo }}

ml --force purge
ml load "EESSI/{{ .SWSVariant }}" "ASC/{{ .SWSVariant }}" \
    && ml load EESSI-extend || printf "ERR - module not found EESSI/{{ .SWSVariant }} ASC/{{ .SWSVariant }}"

{{ range .Easystacks }}
echo "Building easystack: {{ . }}"
stack_file="{{ . }}"
if [ ! -f ${stack_file} ]; then
    printf "ERR - file not found ${stack_file}"
    exit 1
fi

eb -r --easystack {{ . }}
if [[ "$?" -ne 0 ]]; then
    printf "ERR - easybuild failed for ${stack_file}"
	exit 1
fi
{{end}}

{{if .Publish}}
if [[ "$?" -eq 0 ]]; then
    crtar -EESSI-version {{ .SWSVariant }} -name "{{ .Name }}-{{ .Arch }}-{{ .Timestamp }}"
else
    cp -a /tmp/ ${LOGDIR}/ctr-tmp
fi
{{end}}

